### 입력 조건
- 첫 번째 줄에 학생의 수 N이 입력된다.(1 <= N <= 100,000)
- 두 번째 줄부터 N + 1번째 줄에는 학생의 이름을 나타내는 문자열 A와 학생의 성적을 나타내는 정수 B가 공백으로 구분되어 입력된다. 문자열 A의 길이와 학생의 성적은 100 이하의 자연수이다.

### 출력 조건
- 모든 학생의 이름을 성적이 낮은 순서대로 출력한다. 성적이 동일한 학생들의 순서는 자유롭게 출력해도 괜찮다.

### ex)
- 입력
    - 홍길동 95
    - 이순신 77
- 출력
    - 이순신 홍길동

In [1]:
n = int(input())

dic = {}
for i in range(n):
    info = input().split()
    dic[info[0]] = int(info[1])

2
홍길동 95
이순신 77

In [2]:
dic

{'홍길동': 95, '이순신': 77}

In [6]:
for i in sorted(dic):
    print(i, end=' ')

이순신 홍길동